.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.1px);
  border-width: 4px;
  border-color: #f3f4f6; /* Use the actual color you want, since "gray-50" is not a valid class for border color */
  flex-shrink: 0;
  height: 75%; /* 3/4 */
  width: 50%;
  border-radius: 1.5rem; /* rounded-3xl */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 7px;
  max-width: 100%;
}
